name: Terminate EC2 Instance

on:
  workflow_dispatch:
    inputs:
      instance_id:
        description: 'EC2 instance id to terminate'
        required: true

env:
  AWS_REGION: ${{ secrets.AWS_REGION }}

permissions:
  id-token: write   # This is required for requesting the JWT

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: ${{ secrets.ROLE_TO_ASSUME }}
          role-session-name: samplerolesession
          aws-region: ${{ env.AWS_REGION }}

      - name: Terminate EC2 instance
        run: |
          aws ec2 terminate-instances --instance-ids ${{ inputs.instance_id }} --region ${{ env.AWS_REGION }}

